<!-- NAV -->
<nav class="navbar navbar-expand-lg snap-nav fixed-top">
  <div class="container">
    <a class="navbar-brand snap-logo" href="index.html">
      <span class="logo-icon"><i class="fa-solid fa-link"></i></span>
      Snap<span class="accent">URL</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
    >
      <i class="fa-solid fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto align-items-center gap-2">
        <li class="nav-item">
          <a class="nav-link" href="#stats">Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-snap-primary" href="/register">Get Started Free</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
